@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #fafafa;
  background-color: #d97706;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #fef3c7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.9rem;
}

*::-webkit-scrollbar-track {
  background: #fef3c7;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #44403c;
}

.triangle {
  border-style: solid;
  border-width: 10px 15px 10px 0;
  transform: rotate(90deg);
  border-color: transparent #f4f4f5 transparent transparent;
  position: absolute;
  top: -10px;
  right: 20px;
}

@media only screen and (max-width: 34em) {
  .triangle {
    right: 12px;
  }
}

.form__loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #a1a1aa 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

input[type="checkbox"] {
  accent-color: #fbbf24;
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
}
