@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  border-style: solid;
  border-width: 10px 15px 10px 0;
  transform: rotate(90deg);
  border-color: transparent #f4f4f5 transparent transparent;
  position: absolute;
  top: -10px;
  right: 20px;
}

@media only screen and (max-width: 34em) {
  .triangle {
    right: 12px;
  }
}
